<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home"routerLink="">
        <ion-icon name="Home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="Cadastro" routerLink="cadastro">
        <ion-icon name="save-outline"></ion-icon>
        Cadastro
      </ion-tab-button>

      <ion-tab-button tab="Lista" routerLink="lista">
        <ion-icon name="list-circle-outline"></ion-icon>
        Lista
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-app>