<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Início</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-img src="../../assets/brownie.jpg" alt="Imagem de brownie"></ion-img>
    <ion-card-header>
      <ion-card-title>Os melhores brownies da cidade</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Seja bem-vindo ao paraíso dos brownies! Aqui você encontrará os mais deliciosos brownies 
      feitos com ingredientes selecionados e muito amor. 
      Nossos brownies são assados diariamente para garantir frescor e sabor inigualáveis. 
      Experimente nossas variedades exclusivas e deixe-se levar pela tentação do chocolate.
    </ion-card-content>
  </ion-card>
</ion-content>
